# Python
__pycache__/
core/__pycache__/
tests/core/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDEs
.idea/
.vscode/

# Generated issues
# generated-issues/

# Keep documentation
!documentation/
